<% @review.comments.each do |comment| %>
  <% if comment.author == nil %>
    <% next %>
  <% end %>
  <div class="card mb-3 w-50">
    <div class="card-body">
      <p class="card-text">
        <%= comment.body %>
      </p>
      <blockquote class="blocquote mb-0">
        <footer class="blockquote-footer">
             <%= comment.author %>, <%= comment.created_at.strftime("%m-%d-%Y") %>
        </footer>
     
      </blockquote>
      <hr>
        <%= link_to 'Delete', [comment.review, comment],
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { confirm: 'Are you sure?' } %>  
    </div>
  </div>

<% end %>