<div id="landing">
   <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Flick Pick</h1>
      <p class="lead">Platform by Thunder Busters</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="https://detector.media/doc/images/news/archive/2016/131175/ArticleImage_131175.jpg">
      </div>
      <div class="col">
        <p>Thanks for checking out our movie review site! We hope to bring you the best experience in creating reviews,
          viewing reviews posted by others, and commenting to let others know your opinion!</p>
          <p>Head over to the 
            <span><%= link_to 'reviews page', reviews_path %></span>
            to see our list of reviews, or 
            <span><%= link_to 'add your own', new_review_path %></span>
            to contribute to the site!
          </p>
      </div>
    </div>
  </div> 
</div>
