// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing {
  h1 {
    font-family: 'Amaranth', sans-serif;
  }
  
  p {
    font-family: 'Lalezar', sans-serif;
  }
  
  a:hover {
    text-decoration: none;
    color: lightblue;
  }
  
  img {
    width: 250px;
  }
}