// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing {
  h1 {
    font-family: 'Amaranth', sans-serif;
    // font-family: 'Lalezar', cursive;
    // font-family: 'Bangers', cursive;

  }
  img {
    width: 250px;
    height: 250px;
  }
}