#reviews {
  th {
    border-top: none;
  }

  a.btn {
    padding: 2px 12px;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }
}

#new-review,
#edit-review,
#show-review {
  .text-area {
    height: 133px;
  }
  .url-image {
    width: 220px;
    height: 251px;
  }
  .url-input {
    width: 220px;
  }
  th,
  td {
    padding-bottom: 0;
    padding-top: 0;
    border: none;
  }
  .leave-comment {
    color: #18c1f5;
    text-shadow: 1px 1px 1px rgb(209, 209, 209);
    cursor: pointer;

    &:hover {
      color: rgb(29, 172, 216);
      text-shadow: 1px 1px 5px rgb(209, 209, 209);
    }
  }
}
