#reviews {
  th {
    border-top: none;
  }
  
  a.btn {
    padding: 2px 12px;
  }
  
  .table > tbody > tr > td {
     vertical-align: middle;
}
}

#new-review, #edit-review {
  .text-area {
    height: 133px;
  }
}
