<div class="modal fade" id="confirmDestroyModal" tabindex="-1" role="dialog" aria-labelledby="confirmDestroyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the review for {{ currentMovie }}?
      </div>
      <div class="modal-footer">
        <a role="button" class="btn btn-secondary btn-sm text-white" data-dismiss="modal">Cancel</a>
        <a role=button :href="deleteLink" data-method="delete" class="btn btn-sm btn-primary">Confirm</a>
      </div>
    </div>
  </div>
</div>

